.headerContainer {
  width: 100%;
  padding: 18px 20px;
  background-color: var(--color-scheme-1-background);
}

.svgLogo {
  width: 124px;
  height: 40px;
  fill: var(--logo-color);
  stroke: var(--logo-color);
  stroke-width: 1.5px;
}

@media screen and (min-width: 768px) {
  .headerContainer {
    width: 100%;
    padding: 18px 32px;
  }

  .svgLogo {
    width: 128px;
    height: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .headerContainer {
    width: 100%;
    padding: 18px 64px;
  }

  .svgLogo {
    width: 124px;
    height: 40px;
  }
}
