@media screen and (min-width: 375px) {
  .authContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 266px;
  }
  .authBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    width: 335px;
    height: 32px;
  }
}

@media screen and (min-width: 768px) {
  .authContainer {
    flex-direction: row;
  }
  .authBtn {
    padding: 4px 10px;
    min-height: 38px;
  }
  .authContainer {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .authContainer {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }

  .authBtn {
    width: auto;
    height: auto;
  }
}
