.backdrop {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  padding: 16px;
  animation: fadeIn var(--transition-default);
}

.content {
  position: relative;
  width: 100%;
  max-width: 600px;
  background-color: var(--color-scheme-1-background, #1e1c1f);
  border: 1px solid var(--color-scheme-1-border, rgba(255, 255, 255, 0.1));
  border-radius: 24px;
  padding: 16px;
  max-height: 95vh;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  border: none;
  border-radius: 50%;
  color: #000;
  font-size: 46px;
  line-height: 1;
  cursor: pointer;
  transition: color var(--transition-default);
  z-index: 10;
}

.closeBtn:hover {
  color: rgba(68, 47, 47, 0.15);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content::-webkit-scrollbar {
  width: 6px;
}

.content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

@media (max-width: 480px) {
  .content {
    padding: 24px 16px;
    border-radius: 16px;
  }
}
