.wrapper {
  display: flex;
  flex-direction: column;
}

.heroLink {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  text-align: center;
  text-decoration: none;
  border: 1px solid var(--color-mantis-dark);
  border-radius: 6px;
  padding: 7px 12px;
  background: var(--color-mantis-dark);
  transition:
    color var(--transition-default),
    background-color var(--transition-default);
}

.heroLink:hover,
.heroLink:focus {
  color: var(--color-scheme-2-text);
  background-color: var(--color-mantis-lighter);
}

.heroLink:active {
  background-color: var(--color-mantis-dark);
}

.heroTitle {
  margin-bottom: 24px;
}

.heroText {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
  margin-bottom: 32px;
}

.heroImage {
  order: -1;
  width: 335px;
  height: 469px;
  margin-bottom: 24px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .heroImage {
    width: 704px;
  }

  .heroLink {
    width: 228px;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
  }

  .heroLink {
    width: 278px;
  }

  .heroImage {
    order: 0;
    width: 644px;
    height: 580px;
    margin-bottom: 0;
  }

  .heroContent {
    height: 580px;
    padding-top: 73px;
    padding-bottom: 73px;
    margin-right: 24px;
  }

  .heroText {
    font-size: 20px;
  }
}
