.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-scheme-2-text);
}

.textarea {
  width: 100%;
  border-radius: 6px;
  padding: 12px;
  border: 1px solid var(--opacity-neutral-darkest-15);
  background: var(--opacity-transparent);
  font-size: 16px;
  outline: none;
  color: var(--color-scheme-2-text);
  font-family: inherit;

  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
  height: 180px;
  max-height: 180px;
  transition:
    border-color var(--transition-default),
    box-shadow var(--transition-default);
  scrollbar-width: thin;
  scrollbar-color: var(--opacity-neutral-darkest-15) transparent;
}

.textarea::-webkit-scrollbar {
  width: 6px;
}

.textarea::-webkit-scrollbar-track {
  background: transparent;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: var(--opacity-neutral-darkest-15);
  border-radius: 10px;
}

.textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-dark);
}
.textarea:focus {
  border-color: var(--color-scheme-1-accent);
  box-shadow: 0 0 0 2px var(--color-mantis-lighter);
  background: var(--opacity-transparent);
}

.textareaError {
  border-color: var(--color-red);
  background: var(--opacity-transparent);
  position: static;
}

.textareaError:focus {
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
}

.errorMessage {
  font-size: 12px;
  color: var(--color-red);
  position: absolute;
  bottom: 0;
  left: 12px;
}

@media only screen and (min-width: 1440px) {
  .textarea {
    font-size: 18px;
  }
}
