@media screen and (min-width: 300px) {
  .authContainer {
    flex-direction: column;
    display: flex;
    gap: 24px;
  }
  .authBtn {
    margin-right: 0;
    display: flex;
    justify-content: center;
    border: 1px solid var(--color-mantis-dark);
    border-radius: 6px;
    padding: 4px 10px;
    width: 335px;
    height: 32px;
  }
  .stateContainer {
    justify-content: center;
    display: flex;
  }
  .avatarContaner {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-right: 16px;
  }

  .logoutBtn {
    background: transparent;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .authContainer {
    flex-direction: row;
  }
  .authBtn {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .authContainer {
    margin-top: 0;
  }

  .authBtn {
    display: flex;
    max-width: 240px;
    min-height: 38px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
  }
}
