.avatarWrapper {
  width: var(--avatar-size, 40px);
  height: var(--avatar-size, 40px);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-neutral-lighter);
  border: 1px solid var(--color-scheme-2-border);
  position: relative;
  flex-shrink: 0;
}

.avatarImage {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  display: block;
}

.avatarSvg {
  width: 60%;
  height: 60%;
  display: block;
  fill: var(--color-neutral-dark);
}
