.section {
  padding: 64px 0;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.allLink {
  display: none;
  padding: 12px;
}

.sliderWrapper {
  position: relative;
}

.controls {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 48px;
}

.prevBtn,
.nextBtn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition-default);
  border: 1px solid var(--color-scheme-1-border);
  background: var(--color-mantis-lighter);
}

.navButton:hover:not(:disabled),
.navButton:focus:not(:disabled) {
  background: var(--color-neutral-lightest);
  border: 1px solid var(--color-mantis-light);
}

.navButton:active:not(:disabled) {
  border: 1px solid var(--color-mantis-light);
  background: var(--color-mantis-light);
}

.navButton:disabled {
  background: var(--color-scheme-1-foreground);
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.mobileAllLink {
  display: flex;
  margin-top: 48px;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.icon {
  stroke: var(--color-mantis-darkest);
}

.swiperSlide {
  height: auto;
}

@media (min-width: 768px) {
  .allLink {
    display: inline-flex;
    height: 48px;
    align-items: center;
  }
  .mobileAllLink {
    display: none;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  .section {
    padding: 72px 0;
  }
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
