.wrapper {
  background: var(--color-scheme-2-foreground);
  padding: 24px;
  border-radius: 16px;
  width: 335px;
}

.text {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 32px;
  color: var(--color-scheme-1-text);
}

.button {
  width: 303px;
  height: 48px;
}

@media only screen and (min-width: 767px) {
  .wrapper {
    width: 533px;
    padding: 32px;
  }

  .text {
    max-width: 400px;
    margin-bottom: 32px;
    line-height: 140%;
    font-weight: 700;
    letter-spacing: -0.01em;
  }

  .wrapper .button {
    max-width: 163px;
    height: 48px;
    padding: 1px;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    width: 553px;
    padding: 32px;
  }

  .text {
    font-size: 26px;
    max-width: 400px;
    margin-bottom: 32px;
    line-height: 140%;
    font-weight: 700;
    letter-spacing: -0.01em;
  }

  .wrapper .button {
    max-width: 198px;
    height: 48px;
    padding: 1px;
  }
}
