.pageWrapper {
  background-color: var(--color-scheme-2-background);
  min-height: 100vh;
}

.title {
  text-align: center;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .title {
    margin-bottom: 40px;
  }
}

.showMoreContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
}

.showMoreButton {
  width: 100%;
}

@media (min-width: 768px) {
  .showMoreContainer {
    padding-bottom: 72px;
  }

  .showMoreButton {
    min-width: 200px;
    width: auto;
  }
}
