.formCard {
  background: var(--color-white);
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
  margin-top: 64px;
}

.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.tab {
  flex: 1;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  padding: 12px 0px;
  cursor: pointer;
  transition: color var(--transition-default);
  width: 100%;
}

.activeTab {
  border-bottom: 1px solid var(--opacity-neutral-darkest-15);
}

.formCard .title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 27px;
}

.subtitle {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color: var(--color-neutral-darkest);
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
}

.submitBtn {
  min-height: 44px;
}

@media only screen and (min-width: 768px) {
  .formCard {
    max-width: 644px;
  }

  .formCard .title {
    font-size: 44px;
  }
}

@media only screen and (min-width: 1440px) {
  .tab {
    font-size: 18px;
  }

  .formCard .title {
    font-size: 52px;
  }

  .subtitle {
    font-size: 20px;
  }

  .form label {
    font-size: 18px;
  }
}
