.popularStories {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-bottom: 64px;
  padding-top: 64px;
}

@media only screen and (min-width: 1440px) {
  .popularStories {
    padding-bottom: 72px;
    padding-top: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.linkWrapperMobile {
  display: block;
  width: 100%;
}

.linkWrapperDesktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .linkWrapperMobile {
    display: none;
  }

  .linkWrapperDesktop {
    display: block;
  }
}

.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-mantis-dark);
  border-radius: 6px;
  padding: 6px 12px;
  width: 100%;
  height: 48px;
  background: var(--color-mantis-dark);

  text-decoration: none;

  transition:
    background var(--transition-default),
    color var(--transition-default),
    opasity var(--transition-default);
}

@media only screen and (min-width: 1440px) {
  .link {
    padding: 9px 12px;

    font-size: 20px;
  }
}

.link:hover,
.link:focus {
  background: var(--color-mantis-lighter);
  color: var(--color-scheme-2-text);
}

.link:active {
  background: var(--color-mantis-dark);
  color: var(--color-white);
}

.link:disabled {
  background: var(--color-mantis-dark);
  opacity: 0.3;
  color: var(--color-white);
}

.skeletonGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .skeletonGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 1440px) {
  .skeletonGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.navButtons {
  display: flex;
  gap: 10px;
  margin-top: 40px;

  justify-content: flex-end;
}

.navButtons .navButton {
  border: 1px solid var(--color-scheme-1-border);
  padding: 12px;
  width: 48px;
  height: 48px;
  background: var(--color-mantis-lighter);
}

.navButtons .navNext,
.navButtons .navPrev {
  border-radius: 8px;
}

.navButtons .navButton:hover,
.navButtons .navButton:focus {
  background: var(--color-neutral-lightest);
  border: 1px solid var(--color-mantis-light);
}

.navButtons .navButton:active {
  background: var(--color-mantis-light);
  border: 1px solid var(--color-mantis-light);
}

.navButtons .navButton:disabled {
  background: var(--color-scheme-1-foreground);
  opacity: 0.4;
}

.icon {
  stroke: var(--color-mantis-darkest);
}
