.card {
  display: block;
  background: var(--card-bg);
  border-radius: 16px;
  padding: 24px 16px;
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: 335px;
  overflow: hidden;

  transition:
    transform var(--transition-default),
    box-shadow var(--transition-default);
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

.profileLink {
  margin-top: auto;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  text-align: center;
  padding: 6px 12px;
  border: 1px solid var(--color-scheme-1-border);
  max-width: none;
}

.card .profileLink {
  background-color: var(--card-bg);
}

.profileLink:hover {
  background: #cde5d3;
}

.compact {
  font-size: 16px;
  min-width: 287px;
  min-height: 48px;
}

@media only screen and (max-width: 374px) {
  .compact {
    min-width: 100%;
  }
}

@media only screen and (min-width: 767px) {
  .profileLink:not(.compact) {
    min-width: 292px;
  }

  .compact {
    min-width: 170px;
    min-height: 48px;
    padding: 0px 5px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1440px) {
  .profileLink:not(.compact) {
    min-width: 262px;
  }

  .compact {
    min-width: 262px;
    min-height: 48px;
  }
}
