.card {
  display: block;
  background: var(--color-scheme-2-foreground);
  border-radius: 16px;
  padding: 24px 16px;
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: 335px;
  overflow: hidden;

  transition:
    transform var(--transition-default),
    box-shadow var(--transition-default);
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

.profileLink {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: auto;
  padding: 6px 12px;
  border-radius: 10px;
  text-decoration: none;
  width: 100%;
  min-height: 48px;
}

.profileLink:hover {
  background: #cde5d3;
}
